executor {
    cpus = 158
}

process.maxForks = 158

process {
    errorStrategy = 'retry'
    maxRetries = 10
}

process {
    memory = 4.GB
    withLabel: 'mem_2' { memory = '7.50 GB' }
    withLabel: 'mem_3' { memory = '11.25 GB' }
    withLabel: 'mem_4' { memory = '15.00 GB' }
    withLabel: 'mem_5' { memory = '18.75 GB' }
    withLabel: 'mem_6' { memory = '22.50 GB' }
    withLabel: 'mem_7' { memory = '26.25 GB' }
    withLabel: 'mem_8' { memory = '30.00 GB' }
    withLabel: 'mem_9' { memory = '33.75 GB' }
    withLabel: 'mem_10' { memory = '37.50 GB' }
    withLabel: 'mem_11' { memory = '41.25 GB' }
    withLabel: 'mem_12' { memory = '45.00 GB' }
    withLabel: 'mem_13' { memory = '48.75 GB' }
    withLabel: 'mem_14' { memory = '52.50 GB' }
    withLabel: 'mem_15' { memory = '56.25 GB' }
    withLabel: 'mem_16' { memory = '60.00 GB' }
    withLabel: 'mem_17' { memory = '63.75 GB' }
    withLabel: 'mem_18' { memory = '67.50 GB' }
    withLabel: 'mem_19' { memory = '71.25 GB' }
    withLabel: 'mem_20' { memory = '75.00 GB' }
}

process {
    container = null
    withLabel: 'gdal' { container = '/opt/gdal.sif' }
}
singularity {
    enabled = true
}
